# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# VS Code Settings (optional)
.vscode/

# Logs
logs/

# OS Files
.DS_Store
Thumbs.db

# Hadoop checksum files
*.crc

# Generated data
data/silver/
data/gold/

# Jupyter checkpoints
.ipynb_checkpoints/